aws_region              = "us-east-1"
aws_profile             = "kong-ai-gateway-admin"
tfc_organization_name   = "your-hcp-terraform-org"
create_tfc_organization = false
tfc_organization_email  = "you@example.com"
tfc_project_name               = "kong-ai-gateway"
tfc_bootstrap_workspace_name   = "kong-ai-gateway-aws-bootstrap"
tfc_workspace_name             = "kong-ai-gateway-aws"
